# Test fixtures (binary; may be copyrighted)
test/

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
build/
dist/
.venv/
venv/

# uv
.python-version

# IDE
.vscode/
.idea/
.DS_Store
